<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bangers-Regular.ttf</string>
		<string>BitcountGridSingleInk.ttf</string>
		<string>Capriola-Regular.ttf</string>
		<string>CaveatBrush-Regular.ttf</string>
		<string>ChakraPetch-Regular.ttf</string>
		<string>Chango-Regular.ttf</string>
		<string>Englebert-Regular.ttf</string>
		<string>GothamRnd-Md.otf</string>
		<string>HachiMaruPop-Regular.ttf</string>
		<string>IndieFlower-Regular.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-BlackItalic.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-BoldItalic.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraBoldItalic.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-ExtraLightItalic.ttf</string>
		<string>Inter-Italic.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-LightItalic.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-MediumItalic.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-SemiBoldItalic.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>Inter-ThinItalic.ttf</string>
		<string>InterDisplay-Black.ttf</string>
		<string>InterDisplay-BlackItalic.ttf</string>
		<string>InterDisplay-Bold.ttf</string>
		<string>InterDisplay-BoldItalic.ttf</string>
		<string>InterDisplay-ExtraBold.ttf</string>
		<string>InterDisplay-ExtraBoldItalic.ttf</string>
		<string>InterDisplay-ExtraLight.ttf</string>
		<string>InterDisplay-ExtraLightItalic.ttf</string>
		<string>InterDisplay-Italic.ttf</string>
		<string>InterDisplay-Light.ttf</string>
		<string>InterDisplay-LightItalic.ttf</string>
		<string>InterDisplay-Medium.ttf</string>
		<string>InterDisplay-MediumItalic.ttf</string>
		<string>InterDisplay-Regular.ttf</string>
		<string>InterDisplay-SemiBold.ttf</string>
		<string>InterDisplay-SemiBoldItalic.ttf</string>
		<string>InterDisplay-Thin.ttf</string>
		<string>InterDisplay-ThinItalic.ttf</string>
		<string>Jura-VariableFont_wght.ttf</string>
		<string>LondrinaShadow-Regular.ttf</string>
		<string>MomoTrustDisplay-Regular.ttf</string>
		<string>MontserratAlternates-Regular.ttf</string>
		<string>Oswald-VariableFont_wght.ttf</string>
		<string>PermanentMarker-Regular.ttf</string>
		<string>Rajdhani-Regular.ttf</string>
		<string>Schoolbell-Regular.ttf</string>
		<string>Srisakdi-Regular.ttf</string>
		<string>Unkempt-Regular.ttf</string>
	</array>
</dict>
</plist>
